<html>
    <head>
        <title>{{{account}}} Store Location</title>
        <link rel="stylesheet" type="text/css" href="/officedepot/style.css" />
    </head>
<body>
<div class="b1">
<img src="/officedepot/nav_logo.gif" alt="Office Depot" width="211" height="42" class="logo"/>

    <table class="b1">
    <tr>
	<table class="b1">
		<tr>
			<td>Starting Address</td>
		</tr>
		<tr>
			<td>{{{oname}}}</td>
    		<tr>
        		<td>{{{oaddress}}}</td>
    		</tr>
    		<tr>
			<td>{{{ocity}}}, {{{ostate}}}&nbsp;&nbsp;{{{opostalcode}}}
			</td>
		</tr>
		<tr><td><br></td></tr>
		{{#each maneuvers}}
		<tr><td>{{{add @index 1}}}.&nbsp;{{{text}}}&nbsp;{{{distance}}}&nbsp;{{{distanceuom}}}&nbsp;-&nbsp;{{{time}}}&nbsp;{{{timeuom}}}</td> 
		</tr>
		{{/each}}
		<tr><td><br></td></tr>
		<tr>
			<td>Destination Address</td>
		</tr>
		<tr>
			<td>{{{dname}}}</td>
    		<tr>
        		<td>{{{daddress}}}</td>
    		</tr>
    		<tr>
			<td>{{{dcity}}}, {{{dstate}}}&nbsp;&nbsp;{{{dpostalcode}}}
			</td>
		</tr>
	</table>
    </tr>
    </table>
</div>
</body>
</html>

